<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>655148797896-4cb6mv4bdd19cucv9q3gipmg2js1brgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655148797896-4cb6mv4bdd19cucv9q3gipmg2js1brgt</string>
	<key>API_KEY</key>
	<string>AIzaSyBMr9GXJodVMT4YbUEIE8qrKE-J8TtO40A</string>
	<key>GCM_SENDER_ID</key>
	<string>655148797896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenthanhtri.demo2704-firebase</string>
	<key>PROJECT_ID</key>
	<string>demofirebase-26042018</string>
	<key>STORAGE_BUCKET</key>
	<string>demofirebase-26042018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655148797896:ios:7561ca87b816e3b3</string>
	<key>DATABASE_URL</key>
	<string>https://demofirebase-26042018.firebaseio.com</string>
</dict>
</plist>